NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_SITE_URL=https://hgthaii.dev
NEXT_PUBLIC_CV_PDF=https://cv.hgthaii.dev
NEXT_PUBLIC_CONTACT_EMAIL=contact@hgthaii.dev
NEXT_PUBLIC_PROFILE_AVATAR=/linkedin-avatar.jpg
NEXT_PUBLIC_SOCIAL_IMAGE=/hgthaii.jpg
NEXT_PUBLIC_FAVICON=/icon.svg
NEXT_PUBLIC_GITHUB_URL=https://github.com/hgthaii
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/hgthaii
NEXT_PUBLIC_LINKEDIN_URL=https://linkedin.com/in/hgthaii
