<main id="layout" class="h-screen grid grid-cols-1 lg:grid-cols-2 transition-all duration-300">
  <!-- HERO -->
  <section id="hero" class="flex items-center px-14 py-16">
    <div class="max-w-2xl text-left">
      <p class="text-xs tracking-[0.35em] text-second mb-4 uppercase">Xin chào, mình là</p>

      <h1 class="text-[3.2rem] sm:text-[3.6rem] tracking-tight font-bold text-primary">Thái</h1>

      <p class="text-base leading-7 max-w-xxl mx-auto mb-12">
        Một “thợ code” ngày ngày vật lộn với mấy con bug khó ưa. Tại đây mình sẽ ghi chép lại những
        gì đã học được trong quá trình mưu sinh với nghề, đặng sau này có cái đọc lại để cảm thán
        bản thân :)
      </p>

      <div class="mt-8 flex items-center gap-4 text-second">
        <a
          href="https://www.linkedin.com/in/hgthaii"
          target="_blank"
          class="hover:text-primary transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.98 3.5C4.98 4.88 3.88 6 2.5 6S0 4.88 0 3.5 1.12 1 2.5 1 4.98 2.12 4.98 3.5zM0 8h5v16H0zM8 8h4.8v2.2h.1c.7-1.3 2.4-2.7 4.9-2.7 5.2 0 6.2 3.4 6.2 7.8V24h-5v-7.5c0-1.8 0-4.2-2.6-4.2-2.6 0-3 2-3 4.1V24H8z"
            />
          </svg>
        </a>
      </div>
    </div>
  </section>

  <!-- BLOG -->
  <section id="blog" class="flex px-14 py-16 overflow-y-auto h-full transition-all duration-300">
    <div id="post-grid" class="flex justify-center items-center h-full w-full mx-auto py-16"></div>
    <div id="blog-detail" class="hidden w-full justify-center"></div>
  </section>
</main>
